﻿@model IEnumerable<WebApplication3.Models.Matricula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudiante.Apellido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Apellido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatriculaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatriculaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatriculaID })
        </td>
    </tr>
}

</table>
