﻿@model IEnumerable<WebApplication3.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creditos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creditos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CursoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CursoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CursoID })
        </td>
    </tr>
}

</table>
